@using MvcCvResume.Entities.Concrete
@model List<Education>

<span class="custom-text-color-1 text-uppercase">
    <strong>Eğitim :</strong>
    <strong class="text-color-light"> @Model[0].SchoolName - @Model[0].Part</strong>
   @*  <a data-hash href="#education" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ms-2"> ...</a> *@
</span>