@using MvcCvResume.Entities.Concrete
@model List<Education>

<span class="custom-text-color-1 text-uppercase">
    <strong class="text-color-light">Eğitim : </strong>
    @Model[0].SchoolName
    <a data-hash href="#education" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ms-2">Devamı...</a>
</span>