@using MvcCvResume.Entities.Concrete
@model List<Experience>
<span class="custom-text-color-3 text-uppercase">
    <strong>Deneyim :</strong>
    <strong class="text-color-light"> @Model[0].WorkingCompany - @Model[0].Title</strong>
   @*  <a data-hash href="#experience" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ms-2"> ...</a> *@
</span>
