@using MvcCvResume.Entities.Concrete
@model List<Contact>
<span class="custom-text-color-3 text-uppercase">
    <strong>Telefon :</strong>
    <strong class="text-color-light"> @Model[0].Phone</strong>
</span>
<span class="custom-text-color-3 text-uppercase">
<strong>Email :</strong>
<strong class="text-color-light"> @Model[0].Email</strong>
</span>